In [26]:
from bs4 import BeautifulSoup #this module helps in web scrapping.
import requests #this module helps us to download a web page
#storing html in HTML variable as string
html = "<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3> \
<b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p> \
<h3>Stephen Curry</h3><p> Salary: $85,000,000</p> \
<h3>Kevin Durant</h3><p> Salary: $73,200,000</p></body></html>"
soup = BeautifulSoup(html, 'html5lib')
#We can use the method prettify() to display the HTML in the nested structure:
print(soup.prettify())
# The Tag object corresponds to an HTML tag in the original document, for example, the tag title.
tag_object=soup.title
print("tag object:", tag_object)
#we can see the tag type bs4.element.Tag
print("tag object type:", type(tag_object))
#if there is more than one Tag with the same name, the first element with that Tag name is called. This corresponds to the most paid player:
tag_object=soup.h3
print(tag_object)
#. We can access the child of the tag or navigate down the branch as follows:
tag_child=tag_object.b
print("child",(tag_child))
parent_tag=tag_child.parent
#You can access the parent with the parent.
print("Parent",(parent_tag))
#its identical to:
print(tag_object)
#sooooo #tag_object parent is the body element.
print(tag_object.parent)
#tag_object sibling is the paragraph element.
sibling_1=tag_object.next_sibling
print(sibling_1)
#sibling_2 is the header element, which is also a sibling of both sibling_1 and tag_object
sibling_2=sibling_1.next_sibling
print(sibling_2)
print(tag_child['id'])
#access dictionary as attrs:
print(tag_child.attrs)
#using get method
print(tag_child.get('id'))
#Navigable String 
tag_string=tag_child.string
print(tag_string)
#type is Navigable string
print(type(tag_string))
#convert strint object in python
unicode_string=str(tag_string)
print("hehe",unicode_string)

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000,000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200,000
  </p>
 </body>
</html>

tag object: <title>Page Title</title>
tag object type: <class 'bs4.element.Tag'>
<h3> <b id="boldest">Lebron James</b></h3>
child <b id="boldest">Lebron James</b>
Parent <h3> <b id="boldest">Lebron James</b></h3>
<h3> <b id="boldest">Lebron James</b></h3>
<body><h3> <b id="boldest">Lebron James</b></h3><p> Salary: $ 92,000,000 </p> <h3>Stephen Curry</h3><p> Salary: $85,000,000</p> <h3>Kevin Durant</h3><p> Salary: $73,200,000</p></body>
<p> Salary: $ 92,000,000 </p>

boldest
{'id': 'boldest'}
boldest
Lebron James
<class 'bs4.element.NavigableString'>
hehe Lebron James

In [45]:
table = "<table><tr><td id='flight'>Flight No</td><td>Launch site</td> \
<td>Payload mass</td></tr><tr> <td>1</td> \
<td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td> \
<td>300 kg</td></tr><tr><td>2</td> \
<td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td> \
<td>94 kg</td></tr><tr><td>3</td> \
<td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td> \
<td>80 kg</td></tr></table>"
table_bs=BeautifulSoup(table,'html5lib')
print(table_bs)
#find_all()
table_rows=table_bs.find_all('tr')
print(table_rows)
#tag object
first_row=table_rows[0]
print(first_row)
#type is
print(type(first_row))
#obtain the child
first_row.td
#If we iterate through the list, each element corresponds to a row in the table:
for i, row in enumerate(table_rows):
    print("row", i, "is", row)
#As row is a cell object, we can apply the method find_all to it and extract table cells in the object cells using the tag td, this is all the children with the name td.
for i, row in enumerate(table_rows):
    print("row", i)
    cells= row.find_all('td')
    for j, cell in enumerate(cells):
        print('column', j, "cell", cell)
#If we use a list we can match against any item in that list.
list_input=table_bs.find_all(name=["tr", "td"])
print(list_input)
#the first td elements have a value of id of flight, therefore we can filter based on that id value.
table_bs.find_all(id="flight")

<html><head></head><body><table><tbody><tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td> <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td> <td>300 kg</td></tr><tr><td>2</td> <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td> <td>94 kg</td></tr><tr><td>3</td> <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td> <td>80 kg</td></tr></tbody></table></body></html>
[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>, <tr> <td>1</td> <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td> <td>300 kg</td></tr>, <tr><td>2</td> <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td> <td>94 kg</td></tr>, <tr><td>3</td> <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td> <td>80 kg</td></tr>]
<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
<class 'bs4.element.Tag'>
row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr> <td>1</td> <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td> <td>300 kg</td></tr>
row 2 is <tr><td>2</td> <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td> <td>94 kg</td></tr>
row 3 is <tr><td>3</td> <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td> <td>80 kg</td></tr>
row 0
column 0 cell <td id="flight">Flight No</td>
column 1 cell <td>Launch site</td>
column 2 cell <td>Payload mass</td>
row 1
column 0 cell <td>1</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>
column 2 cell <td>300 kg</td>
row 2
column 0 cell <td>2</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
column 2 cell <td>94 kg</td>
row 3
column 0 cell <td>3</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>
column 2 cell <td>80 kg</td>
[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>, <td id="flight">Flight No</td>, <td>Launch site</td>, <td>Payload mass</td>, <tr> <td>1</td> <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td> <td>300 kg</td></tr>, <td>1</td>, <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>, <td>300 kg</td>, <tr><td>2</td> <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td> <td>94 kg</td></tr>, <td>2</td>, <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>, <td>94 kg</td>, <tr><td>3</td> <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td> <td>80 kg</td></tr>, <td>3</td>, <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>, <td>80 kg</td>]

In [53]:
#We can find all the elements that have links to the Florida Wikipedia page:
list_input = table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")
list_input
#If we set the href attribute to True, regardless of what the value is, the code finds all anchor tags with href value:
print(table_bs.find_all('a',href=True))
#Using the logic above, find all the anchor tags without href value
print(table_bs.find_all('a',href=False))
#Using the soup object soup, find the element with the id attribute content set to "boldest".
print(soup.find_all(id="boldest"))
#With string you can search for strings instead of tags, where we find all the elments with Florida:
print(table_bs.find_all(string="Florida"))

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>, <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>, <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]
[<a></a>, <a> </a>]
[<b id="boldest">Lebron James</b>]
['Florida', 'Florida']

In [58]:
two_tables="<h3>Rocket Launch </h3> \
<p><table class='rocket'> \
<tr><td>Flight No</td><td>Launch site</td><td>Payload mass</td></tr> \
<tr><td>1</td><td>Florida</td><td>300 kg</td></tr> \
<tr><td>2</td><td>Texas</td><td>94 kg</td></tr> \
<tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p>\
<p><h3>Pizza Party</h3> \
<table class='pizza'> \
<tr><td>Pizza Place</td><td>Orders</td><td>Slices </td></tr> \
<tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr> \
<tr><td>Little Caesars</td><td>12</td><td >144 </td></tr> \
<tr><td>Papa John's</td><td>15 </td><td>165</td></tr>"
two_tables_bs=BeautifulSoup(two_tables, 'html.parser')
#We can find the first table using the tag name table
print(two_tables_bs.find("table"))
#We can filter on the class attribute to find the second table, but because class is a keyword in Python, we add an underscore to differentiate them.
print(two_tables_bs.find("table",class_='pizza'))

<table class="rocket"> <tr><td>Flight No</td><td>Launch site</td><td>Payload mass</td></tr> <tr><td>1</td><td>Florida</td><td>300 kg</td></tr> <tr><td>2</td><td>Texas</td><td>94 kg</td></tr> <tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>
<table class="pizza"> <tr><td>Pizza Place</td><td>Orders</td><td>Slices </td></tr> <tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr> <tr><td>Little Caesars</td><td>12</td><td>144 </td></tr> <tr><td>Papa John's</td><td>15 </td><td>165</td></tr></table>

In [65]:
url = "http://www.ibm.com"
data=requests.get(url).text
soup=BeautifulSoup(data,"html5lib")#create a soup object using the variable 'data"
#Scrape all links
for link in soup.find_all('a', href=True): #in html anchor/link is represented by the tag <a>
    print(link.get('href'))
#Scrape all images Tags
for link in soup.find_all('img'): #in html image is represented by te tag <img>
    print(link)
    print(link.get('src'))

https://www.ibm.com/cloud?lnk=intro
<img alt="Portraits of IBM consultants" class="bx--image__img" id="image--235469917" loading="lazy" src="/content/dam/adobe-cms/default-images/home-consultants.component.crop-16by9-xl.ts=1695214867398.jpg/content/adobe-cms/in/en/homepage/_jcr_content/root/table_of_contents/simple_image"/>
/content/dam/adobe-cms/default-images/home-consultants.component.crop-16by9-xl.ts=1695214867398.jpg/content/adobe-cms/in/en/homepage/_jcr_content/root/table_of_contents/simple_image

In [75]:
#syntax error
#Scrape data from HTML tables
# The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"
#get the contents of the webpage in text format and store in a variable called data
data=requests.get(url).text
#find a html table in the web page
table=soup.find('table') #in html table is represented by the tag <table>
# Get all rows from the table
for row in table.find_all('tr'):  # in html table row represented by tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td')  # in html a column is represented by tag <td>
    color_name = cols[2].string  # store the value in column 3 as color_name
    color_code = cols[3].text  # store the value in column 4 as color_code
    print("{}--->{}".format(color_name, color_code))

Table not found. Check the HTML structure or update the table selection.

In [76]:
import requests
from bs4 import BeautifulSoup

url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"
data = requests.get(url).text

soup = BeautifulSoup(data, 'html.parser')

# Find the table with id="color-codes"
table = soup.find('table', id='color-codes')

if table:
    for row in table.find_all('tr'):
        cols = row.find_all('td')
        color_name = cols[2].string
        color_code = cols[3].text
        print("{} ---> {}".format(color_name, color_code))
else:
    print("Table not found. Check the HTML structure or update the table selection.")

Table not found. Check the HTML structure or update the table selection.

In [87]:
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"
import pandas as pd

tables = pd.read_html(url)
tables
tables[0]

         0      1               2                 3                     4
0   Number  Color      Color Name  Hex Code #RRGGBB  Decimal Code (R,G,B)
1        1    NaN     lightsalmon           #FFA07A      rgb(255,160,122)
2        2    NaN          salmon           #FA8072      rgb(250,128,114)
3        3    NaN      darksalmon           #E9967A      rgb(233,150,122)
4        4    NaN      lightcoral           #F08080      rgb(240,128,128)
5        5    NaN           coral           #FF7F50       rgb(255,127,80)
6        6    NaN          tomato           #FF6347        rgb(255,99,71)
7        7    NaN       orangered           #FF4500         rgb(255,69,0)
8        8    NaN            gold           #FFD700        rgb(255,215,0)
9        9    NaN          orange           #FFA500        rgb(255,165,0)
10      10    NaN      darkorange           #FF8C00        rgb(255,140,0)
11      11    NaN     lightyellow           #FFFFE0      rgb(255,255,224)
12      12    NaN    lemonchiffon           #FFFACD      rgb(255,250,205)
13      13    NaN      papayawhip           #FFEFD5      rgb(255,239,213)
14      14    NaN        moccasin           #FFE4B5      rgb(255,228,181)
15      15    NaN       peachpuff           #FFDAB9      rgb(255,218,185)
16      16    NaN   palegoldenrod           #EEE8AA      rgb(238,232,170)
17      17    NaN           khaki           #F0E68C      rgb(240,230,140)
18      18    NaN       darkkhaki           #BDB76B      rgb(189,183,107)
19      19    NaN          yellow           #FFFF00        rgb(255,255,0)
20      20    NaN       lawngreen           #7CFC00        rgb(124,252,0)
21      21    NaN      chartreuse           #7FFF00        rgb(127,255,0)
22      22    NaN       limegreen           #32CD32        rgb(50,205,50)
23      23    NaN            lime           #00FF00          rgb(0.255.0)
24      24    NaN     forestgreen           #228B22        rgb(34,139,34)
25      25    NaN           green           #008000          rgb(0,128,0)
26      26    NaN      powderblue           #B0E0E6      rgb(176,224,230)
27      27    NaN       lightblue           #ADD8E6      rgb(173,216,230)
28      28    NaN    lightskyblue           #87CEFA      rgb(135,206,250)
29      29    NaN         skyblue           #87CEEB      rgb(135,206,235)
30      30    NaN     deepskyblue           #00BFFF        rgb(0,191,255)
31      31    NaN  lightsteelblue           #B0C4DE      rgb(176,196,222)
32      32    NaN      dodgerblue           #1E90FF       rgb(30,144,255)